.heading{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
   

}

#inf{
    font-size: 8vh;
    color:chartreuse;
    line-height: 12vh;
    margin: 20px;
     text-align: center;
     text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    
}

#b1{
    font-size: 10vh;
    cursor: pointer;
}
#b1:hover{
background-color: chartreuse;
color: black;
transition: 0.05s ease-in;
}


html {
	height: 100%;
	 max-height: 400px; 
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png'),

		url('images/istockphoto-1222697363-1024x1024.jpg');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px,
		900px;
	animation: 50s para infinite linear;
	
	}

@keyframes para {
	100% {
		background-position: 
			-500vh 20%,
			-80vh 95%,
			50vh 50%,
			100vh 100%,
			40vh 0;
			
		}
		
	}

	#prediction{
		color: red;
		font-size: 50px;
		transition-duration: 5sec;
		transition-delay: 2sec;
		text-align: center;
	}